
    <div class="row">
        <div class="col-md-3">
            <div class="hpanel">
                <div class="panel-body">
                    <div class="text-center">
                        <h2 class="m-b-xs">User Management</h2>
                        <p class="font-bold text-success">Add, Edit or Delete Users</p>
                        <div class="m">
                            <i class="pe-7s-add-user fa-5x"></i>
                        </div>
                        <p class="small">
                            Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.
                        </p>
                        <button class="btn btn-success btn-sm">Explore</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="hpanel">
                <div class="panel-body">
                    <div class="text-center">
                        <h2 class="m-b-xs">Reports Management</h2>
                        <p class="font-bold text-info">Lorem ipsum</p>
                        <div class="m">
                            <i class="pe-7s-look fa-5x"></i>
                        </div>
                        <p class="small">
                            Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.
                        </p>
                        <button class="btn btn-info btn-sm">Explore</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="hpanel">
                <div class="panel-body">
                    <div class="text-center">
                        <h2 class="m-b-xs">Campaign Management</h2>
                        <p class="font-bold text-warning">Add, Edit or Delete Campaigns</p>
                        <div class="m">
                            <i class="pe-7s-cup fa-5x"></i>
                        </div>
                        <p class="small">
                            Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.
                        </p>
                        <a class="btn btn-success btn-sm" asp-controller="Campaign"
                           asp-action="Index">Explore</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="hpanel">
                <div class="panel-body">
                    <div class="text-center">
                        <h2 class="m-b-xs">Carline Management</h2>
                        <p class="font-bold text-danger">Add, Edit or Delete Carlines</p>
                        <div class="m">
                            <i class="fa fa-car fa-5x"></i>
                        </div>
                        <p class="small">
                            Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.
                        </p>
                        <button class="btn btn-danger btn-sm">Explore</button>
                    </div>
                </div>
            </div>
        </div>
    </div>